POSTGRES_DB=noop
POSTGRES_USER=noop
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

NOOP_TIMESCALE_API_PORT=8088
NOOP_TIMESCALE_API_TOKEN=change-me-too
NOOP_TIMESCALE_DATABASE_URL=postgresql://noop:change-me@localhost:5432/noop
